<div class="today__wether-box">
    <img src= http://openweathermap.org/img/wn/{{icon}}@2x.png alt={{desc}} class="today__wether-img" width="35">
    <p class="today__wether-text">{{name}}, {{syscountry}}</p>
    <div class="today__wether-temp-box">
        <p class="today__wether-temp-big">{{temp}} &deg</p>
        <ul class="today__wether-temp-list">
            <li class="today__wether-temp-item">
                <p class="today__wether-temp-text">min</p>
                <p class="today__wether-temp-number">{{tempmin}} &deg</p>
            </li>
            <li class="today__wether-temp-item-border"></li>
            <li class="today__wether-temp-item">
                <p class="today__wether-temp-text">max</p>
                <p class="today__wether-temp-number">{{tempmax}} &deg</p>
            </li>
        </ul>
    </div>
</div>
{{!-- <div class="today__wether-box">
    {{#each this.weather}}
    <img src= http://openweathermap.org/img/wn/{{icon}}@2x.png alt={{description}} class="today__wether-img" width="35">
    {{/each}}
    <p class="today__wether-text">{{name}}, {{sys.country}}</p>
    <div class="today__wether-temp-box">
        <p class="today__wether-temp-big">{{main.temp}} &deg</p>
        <ul class="today__wether-temp-list">
            <li class="today__wether-temp-item">
                <p class="today__wether-temp-text">min</p>
                <p class="today__wether-temp-number">{{main.temp_min}} &deg</p>
            </li>
            <li class="today__wether-temp-item"></li>
            <li class="today__wether-temp-item">
                <p class="today__wether-temp-text">max</p>
                <p class="today__wether-temp-number">{{main.temp_max}} &deg</p>
            </li>
        </ul>
    </div>
</div> --}}